# Віртуальне середовище
venv/
env/
ENV/

# Кеш Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# База даних
*.db
*.sqlite
*.sqlite3

# Логи
*.log

# Локальні налаштування
.env
.flaskenv

# IDE
.idea/
.vscode/
*.swp
*.swo